* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    color: lemonchiffon;
    text-align: center;
    position: relative;
    min-height: 100vh;
    padding-bottom: 4rem;
}

header, footer {
    padding: 2% 5%;
    background-color: blue;
    color: whitesmoke;
}

footer {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
}

form {
    border: 2px solid whitesmoke;
    padding: 1%;
    margin: 5%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    padding: 0.5%;
    border-radius: 1px;
}

a:visited {
    color: inherit;
}

a:hover {
    background-color: aqua;
    color: black;
}

.error {
    background-color: lightpink;
    color: black;
}